
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us" id="extr-page">
<head>
    <meta charset="utf-8">
    <title> SmartAdmin</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link href="~/Content/smartadmin-production-plugins.min.css" rel="stylesheet" />
    <link href="~/Content/smartadmin-production.min.css" rel="stylesheet" />
    <link href="~/Content/smartadmin-skins.min.css" rel="stylesheet" />

    <!-- SmartAdmin RTL Support -->
    <link href="~/Content/smartadmin-rtl.min.css" rel="stylesheet" />

    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    @*<link rel="stylesheet" type="text/css" media="screen" href="css/demo.min.css">*@
    <style>
        #Register {
            width: 100%;
        }
    </style>



    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="~/Images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Images/favicon.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">


</head>

<body class="animated fadeInDown" id="login">

    <header id="header">
        <!--<span id="logo"></span>-->

        <div id="logo-group">
            <span id="logo"> <img src="img/logo.png" alt="Bug Incinerator"> </span>
        </div>

        <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Already registered?</span> <a href=@Url.Action("Login","Account") class="btn btn-danger">Sign In</a> </span>

    </header>

    <div id="main" role="main">

        <!-- MAIN CONTENT -->
        <div class="row">
            <div class=" col-md-3">
                @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.Hidden("emailKey", "DemoAdminEmail")

                    <section class="panel">
                        <header class="panel-heading bg-white">
                            <div class=" panel-heading-icon bg-danger mt-sm">
                                <i class="fa fa-user-plus"></i>
                            </div>
                        </header>
                        <div class="panel-body">
                            <button type="submit" class="btn btn-lg btn-danger"> Admin Login </button>
                        </div>
                    </section>
                }
            </div>

            <div class=" col-md-3">
                @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.Hidden("emailKey", "DemoPmEmail")

                    <section class="panel">
                        <header class="panel-heading bg-white">
                            <div class=" panel-heading-icon bg-danger mt-sm">
                                <i class="fa fa-user"></i>
                            </div>
                        </header>
                        <div class="panel-body">
                            <button type="submit" class="btn btn-lg btn-danger"> Project Manager Login </button>
                        </div>
                    </section>
                }
            </div>

            <div class=" col-md-3">
                @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.Hidden("emailKey", "DemoDevEmail")

                    <section class="panel">
                        <header class="panel-heading bg-white">
                            <div class=" panel-heading-icon bg-danger mt-sm">
                                <i class="fa fa-user"></i>
                            </div>
                        </header>
                        <div class="panel-body">
                            <button type="submit" class="btn btn-lg btn-danger"> Developer Login </button>
                        </div>
                    </section>
                }
            </div>

            <div class=" col-md-3">
                @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.Hidden("emailKey", "DemoSubEmail")

                    <section class="panel">
                        <header class="panel-heading bg-white">
                            <div class=" panel-heading-icon bg-danger mt-sm">
                                <i class="fa fa-user"></i>
                            </div>
                        </header>
                        <div class="panel-body">
                            <button type="submit" class="btn btn-lg btn-danger"> Submitter Login </button>
                        </div>
                    </section>
                }
            </div>

        </div>


    <!--================================================== -->
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script src="~/Scripts/pace.min.js"></script>

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery_ui.js"></script>

    <!-- IMPORTANT: APP CONFIG -->
    <script src="~/Scripts/app.config.js"></script>

    @*JS TOUCH : include this plugin for mobile drag / drop touch events*@
    <script src="~/Scripts/jquery.ui.touch-punch.min.js"></script>

    <!-- BOOTSTRAP JS
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>

    <!--[if IE 8]>

        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->
    <!-- MAIN APP JS FILE -->
    <script src="~/Scripts/app.min.js"></script>
    <script src="~/Scripts/register_scripts.js"></script>



</body>
</html>
